# Specific Files and Directories to Ignore #
############################################
Scratch.ipynb

analysis/data/*
models/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.com
*.class
*.dll
*.exe
*.o

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Binary files
*.png
*.jpg
*.ps

# Compressed Files
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.iso
*.jar
*.rar
*.bz2

# Logs and databases
*.log
*.sqlite
*~

# OS generated files
desktop.ini
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
.runNumber


# IDE fluff
.spyderproject
.ipynb_checkpoints/
.idea/
.cache.writing

# Data folders
CIFAR10
data
HandsOnCNN
jena_climate
logs
MNIST_data
tmp
kerasenv
Stocks